body  {
  background-color: #000;
  overflow: hidden;
}

.static-on {
  opacity: 1;
}

.static-off {
  opacity: 0;
}

#static {
  background-image: url(../public/img/static.gif);
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0px;
  top: 0px;
}

#overlay {
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#player {
  z-index: -5;
}
